#nav_header{
    height: ;
    background-color: aquamarine;
    padding: 1%;
    padding-left: 10%;
    padding-right: 10%;
}


.nav_bar {
    padding-top: 1%;
    background-color: orange;
    display: flex;
    justify-content: space-around;
}

#banner_header{
    background-color: blue;
    padding: 20%;
    padding-top: 10%;
    padding-bottom: 10%;;
}

.banner {
    background-color: pink;
    height: 140px;
}

.main_containter {
    display: flex;
    padding: 10%;
    height: 200px;
}

.main_containter2 {
    display: flex;
    padding: 10%;
    height: 200px;
    background-color: grey;
}

#site_main {
    background-color: brown;
    width: 65%;
}


#site_aside {
    background-color: chocolate;
    width: 35%;
}

#site_aside2 {
    background-color: chocolate;
    width: 35%;
    order: -1;
}






body {
    margin: 0;
}

#site_footer {
    background-color: chartreuse;
    height: 100px;
}
